.header {
  background: white;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.title {
  flex: 1;
  text-align: left;
}

.btn_add_new {
  padding: 8px;
  margin: 10px 20px 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}

.btn_add_new:hover {
  background-color: rgb(63, 63, 63);
  border: none;
  color: #fff;
}
