.album_card {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.album_card button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
}

.album_card button:hover {
  background-color: #0056b3;
}

.album_card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.album_card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.album_card h4 {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.album_card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
