p {
  margin: 0;
  padding: 0;
}

.album_item {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #666;
  margin-top: 1.5rem;
}

.albumId {
  flex: 0 0 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.name {
  flex: 1;
  padding: 0 10px;
  font-size: 1em;
  color: #333;
  font-weight: 500;
}
.name p {
  padding-bottom: 10px;
  padding-top: 10px;
}
.name p {
  padding-bottom: 10px;
  padding-top: 10px;
}

.duration {
  flex: 0 0 80px;
  text-align: right;
  font-size: 0.9em;
  color: #666;
  font-weight: 500;
}
